@{
  Layout = "_Layout";
}

<div class = "jumbotron jumbotron-fluid">
  <h1>Soccer League</h1>
</div>
<p class="btn btn-outline-danger">@Html.ActionLink("See all tournaments", "Index", "Tournaments")</p>
<p class="btn btn-outline-danger">@Html.ActionLink("See all teams", "Index", "Teams")</p>